/* .search-bar::after{
    content: 'eeeeeeeeeee';
    position: absolute;
    background: blue;
    width: calc(100%-1px);
    height: fit-content;
    display: flex;
    flex-direction: column;
} */

[data-show = true]{
    background: blue !important;
}

.width-available{
    width: -webkit-fill-available;
}


.box-shadow:hover{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

[data-aria-haspopup = false] #suggestionlist{
display: none;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

